






<a class="grid-template template is--loaded" href="/templates/?template=bedford" data-website-identifier="bedford-demo">
          <div class="template-screenshot">
            <div class="template-screenshot-browser"></div>
            <div class="template-screenshot-image" data-video-url="https://s3.amazonaws.com/v6.www/template-selector-fall-2016/bedford-demo-squarespace-com--1689x1080-original.webm?1" data-video-poster="/assets/pages/template-picker-2016/prototype/bedford-demo-squarespace-com--1689x1080.jpg?1" data-website-identifier="bedford-demo" 
            style="background-image: url(&quot;/assets/pages/template-picker-2016/prototype/bedford-demo-squarespace-com--1689x1080-500w.jpg?1&quot;);">

            <img class="poster-image" data-src="/assets/pages/template-picker-2016/prototype/bedford-demo-squarespace-com--1689x1080.jpg?1" data-use-bg-image="true" data-use-filename="true" data-image-dimensions="1689x1080" src="/assets/pages/template-picker-2016/prototype/bedford-demo-squarespace-com--1689x1080-500w.jpg?1" data-image-resolution="500w"> 
          </div>
          </div>
          <div class="template-info">
            <span class="template-info-heart-wrapper"><svg width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
  <path d="M1.277 2.211c-1.704 1.62-1.744 4.233.13 6.026L7.427 14l6.022-5.763c1.874-1.792 1.834-4.405.13-6.026-1.702-1.62-4.456-1.613-6.151.016C5.733.597 2.977.59 1.276 2.21l.001.001z" fill="#FF1818" fill-rule="evenodd"></path>
</svg>
</span>
            <h4 class="template-info-title">Bedford</h4>
            <p class="template-info-description">One of our most popular templates, Bedford offers a wide range of features specifically for non-profits and small businesses. Although its beautiful interface and countless features make it an ideal template for almost anything.</p>
          </div>
        </a>

        