{% extends 'base.html'%}


{% block content %}



{% if messages %}
      <div class="col-sm-12">
        
 
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %} 
    style= 
    "text-align: center;
    font-size: xx-large;
    background: grey;
    vertical-align: middle;
    margin: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
    
    font-style: normal;
    font-variant: normal; 
    "> {{ message }} 
    
      
    </p>
    {% endfor %}



       
      </div>     
      {% endif %}  	

			
			
{% endblock %}